.rooms {
  background: gray;
  width: 100%;
  min-width: 260px;
  max-width: 260px;
  height: 100%;
  position: relative;
}

.rooms-header {
  display: flex;
  background-color: #dfdcdc;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  width: 100%;
}

.rooms-header span:hover {
  cursor: pointer;
}

.room {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background: #3e66f1;
}

.room:hover {
  cursor: pointer;
}
