.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.login-container form {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-between;
}

.login-container form input {
  margin-top: 5px;
  width: 50%;
  min-width: 150px;
  max-width: 250px;
  margin: 0 auto;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.login-background {
  background: #3E66F1;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  width: 50%;
}