.room-password-form {
  background: #3e66f1;
  height: 100%;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.room-password-form input {
  margin-top: 10px;
  height: 30px;
}

.socket-message {
  height: 30px;
}
