.image-upload-form input[type="file"] {
  display: none;
}

.custom-image-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: yellow;
}

.image-upload-icon-large {
  border-radius: 50%;
  background: white;
  width: 80px;
  height: 80px;
}

.image-upload-container {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: blue;
  padding: 10px;
  z-index: 5;
}

.preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.confirm-cancel {
  display: flex;
}
