.color-picker {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 50%;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  z-index: 5;
}

.current-message-style {
  width: 100%;
}

.color-picker-buttons {
  width: 100%;
  display: flex;
}

.color-picker-buttons button {
  height: 30px;
  width: 100%;
}
