.room-selected,
.room-not-selected {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.room-not-selected {
  background: #3e66f1;
}

.room-not-selected:hover {
  cursor: pointer;
}

.room-selected {
  background: blue;
}

.room-selected:hover {
  cursor: pointer;
}

.password-protected {
  width: 20px;
  height: 20px;
}

.password-protected img {
  width: 100%;
}

.room-loading {
  height: 20px;
  margin-top: 10px;
  background: #3e66f1;
  animation-duration: 0.8s;
  animation-name: roomLoading;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes roomLoading {
  from {
    background: #3e66f1;
  }

  to {
    background: gray;
  }
}
