.messages {
  height: 100%;
  min-height: 50%;
  width: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-bottom: 30px;
  padding-top: 20px;
}

.messages-container {
  height: 100%;
}

.message-loading {
  width: 90%;
}
