.message {
  display: flex;
  margin-top: 15px;
  width: 100%;
  padding-right: 20px;
}

.message:hover {
  background: #ede9de;
}

.avatar {
  width: 20%;
  max-width: 50px;
  min-width: 50px;
}

.avatar img {
  width: 100%;
  border-radius: 50%;
}

.details {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 85%;
}

.info {
  display: flex;
}

.created-at {
  margin-left: 15px;
}

.content {
  overflow-wrap: break-word;
  padding: 5px;
  white-space: pre-wrap;
}

.message-avatar-container {
  height: 60px;
  width: 60px;
}

.avatar-loading,
.username-loading,
.created-at-loading,
.content-loading {
  animation-name: messageLoading;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background: gray;
}

.avatar-loading {
  height: 100%;
  border-radius: 50%;
}

.username-loading {
  height: 20px;
  width: 150px;
}

.created-at-loading {
  height: 20px;
  width: 100px;
  margin-left: 10px;
}

.content-loading {
  margin-top: 10px;
  width: 100%;
}

@keyframes messageLoading {
  from {
    background: gray;
  }

  to {
    background: #3e66f1;
  }
}
