.settings-container {
  position: absolute;
  right: 0;
  top: 8%;
  width: 250px;
  height: 400px;
  max-width: 300px;
  background: gray;
  padding: 10px;
  z-index: 10;
}

.user-info {
  display: flex;
}

.user-info h1 {
  margin-left: 10px;
}

.user-info h1 {
  font-family: "Times New Roman", Times, serif;
}

.image-upload {
  position: relative;
}

.image-upload:hover {
  cursor: pointer;
}

.image-upload:hover > .image-upload-hover-text {
  display: flex;
}

.image-upload-icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  background: #3e66f1;
  color: white;
  border-radius: 50%;
}

.current-message-style {
  background: white;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.message-settings button {
  height: 30px;
  width: 60px;
  margin-top: 5px;
}

.image-upload-hover-text {
  position: absolute;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  padding-top: 10px;
  text-align: center;
  font-size: 12px;
  color: white;
}

.settings-avatar-container {
  width: 60px;
  height: 60px;
}
