.settings-container {
  position: absolute;
  right: 0;
  top: 100px;
  width: 60%;
  max-width: 300px;
  background: gray;
  padding: 10px;
  z-index: 3;
}

.user-info {
  display: flex;
}

.user-info h1 {
  margin-left: 10px;
}

.user-info h1 {
  font-family: "Times New Roman", Times, serif;
}

.image-upload {
  position: relative;
}

.image-upload:hover {
  cursor: pointer;
}

.image-upload-icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background: #3e66f1;
  color: white;
  border-radius: 50%;
}
