.settings-container {
  background: #3e66f1;
  padding: 10px;
  height: 100%;
  position: relative;
  color: black;
  overflow-y: auto;
  user-select: none;
}

.user-info {
  display: flex;
}

.user-info h1 {
  margin-left: 10px;
}

.user-info h1 {
  font-family: "Times New Roman", Times, serif;
}

.image-upload {
  position: relative;
}

.image-upload:hover {
  cursor: pointer;
}

.image-upload:hover > .image-upload-hover-text {
  display: flex;
}

.image-upload-icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: #3e66f1;
  color: white;
  border-radius: 50%;
}

.current-message-style {
  background: white;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.message-settings button {
  height: 30px;
  width: 60px;
  margin-top: 5px;
}

.image-upload-hover-text {
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  padding-top: 10px;
  text-align: center;
  font-size: 12px;
  color: white;
}

.settings-avatar-container {
  width: 60px;
  height: 60px;
}

.rectangle {
  height: 200px;
  width: 400px;
  background: green;
}

.gray-out-settings {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.logout {
  margin-top: 30px;
  font-weight: bold;
  height: 30px;
}
