.profile {
  display: flex;
  align-items: center;
  height: 100%;
  min-width: 255px;
  justify-content: flex-end;
}

.profile-toggle {
  height: 100%;
  position: relative;
}

.profile-toggle:hover {
  cursor: pointer;
}

.gear-icon {
  width: 20px;
  position: absolute;
  z-index: 1;
  right: 0%;
  bottom: 0%;
}
