.profile {
  display: flex;
  align-items: center;
  height: 100%;
  min-width: 255px;
  justify-content: flex-end;
}

.profile:hover {
  cursor: pointer;
}

.profile-toggle {
  height: 100%;
  position: relative;
}

.profile-toggle span {
  font-size: 90%;
  position: absolute;
  z-index: 1;
  color: black;
  right: 0%;
  bottom: 0%;
}

.settings-gear {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  opacity: 0.75;
}
