.app {
  min-height: -webkit-fill-available;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
}

@media only screen and (max-width: 850px) {
  .small-screen {
    display: block;
  }

  .rooms {
    display: none;
  }

  .messenger {
    min-width: 100px;
    pointer-events: auto;
  }

  .initial-messenger {
    min-width: 100px;
  }

  .users {
    display: none;
  }

  .slide-in {
    display: block;
  }
}
